{% extends 'base.html' %}
{% load static %}
{% block csslinking %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
{% endblock csslinking %}

{% block contentbody %}
    <div class="blog-container-out px-1">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <!-- Post preview-->
                <ul>
                    <li>
                        <a href="{% url 'category' query='food' %}">Food</a>
                    </li>
                    <li>
                        <a href="{% url 'category' query='accomodation' %}">Accomodation</a>
                    </li>
                    <li>
                        <a href="{% url 'category' query='culture' %}">Culture</a>
                    </li>
                    <li>
                        <a href="{% url 'category' query='historical' %}">History</a>
                    </li>
                    <li>
                        <a href="{% url 'category' query='others' %}">Others</a>
                    </li>
                    <li>
                        <a href="{% url 'category' query='business' %}">business</a>
                    </li>
                </ul>
                <div class="blog-container ">
                    {% for blog in blogs %}
                    <a class = "postcard-solo" href="{% url 'blog' blog.id %}">
                    <div class="postcard shadow bg-white rounded">
                        <div class="gradient"></div> 
                        {% if blog.image %} 
                        <img src="{{blog.image.url}}" alt="ktm">
                        {% endif %}

                        <div class="text">
                            <h1 class="title">{{blog.title}}</h1>
                            <hr>
                            <p class = "desc-text"> 
                                Best time to visit: <br>
                                <span class = "text-database">{{blog.desc.best_time_to_visit}}</span><br>
                                Unique features: <br>
                                <span class = "text-database">{{blog.desc.unique_features}}</span><br>
                            </p>
                        </div>
                    </div>
                    </a>
                    {% endfor %}
                    </div>

                <!-- Divider-->
                <hr class="my-4 text-center hr-center" >
                <h2 class="fw-bolder text-center">Your current location</h2>
                <div class="col-md-10 col-lg-8 col-xl-7 " div id="map" style=" margin:5vw 10vw;width:80vw;height:80vh;"></div>
                <!-- Pager-->
            </div>
        
    </div>
{% endblock contentbody %}
{% block scripts %}
<script >
var x = document.getElementById("demo");
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }        
    function showPosition(position) {
        var x = document.getElementById("demo");
        x.innerHTML = "Your location:<br>(" + position.coords.latitude +", "+ position.coords.longitude + ")";
        var locationInfo = document.getElementById("location-info"); 
        var button = document.querySelector(".btn-danger");
        locationInfo.style.display = "none";
        button.style.display = "none";
        var user_lat = position.coords.latitude;
        var user_long = position.coords.longitude;
        var zoom = 11;
        var map = L.map('map').setView([user_lat, user_long], zoom);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(map);
    
        L.marker([user_lat, user_long]).addTo(map)
       .bindPopup("<b>Your location</b>").openPopup();

        
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    
    }
    getLocation();


/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>
{% endblock scripts %}
